body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

#video {
    width: 90%;
    max-width: 400px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

button:hover {
    background: #16a34a;
}
